*{
margin: 0;
padding: 0;
}
button{
    width: 380px;
    height: 45px;
    background-color: #87959F;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 21.79px;
}